<div class="rootpage-background-image" style="padding-top: 1px;">
  <div class="row rootpage-searchbar searchbar">
    <p id="front-page-promo-line">
      <%= t :find_your_friends %>
    </p>
    
    <pre>
      <%= @token.inspect %>
    </pre>
    <pre>
      <%= @response_code %>
    </pre>
    <pre>
      <%= @response_body %>
    </pre>
    <pre>
        <%= @dialog_id %>
    </pre>
    <pre>
        <%= @message_response_code %>
    </pre>
    <pre>
        <%= @message_response_body %>
    </pre>
  </div>
</div>
